@font-face {
  font-family: "Saddlebag-Black";
  src:
    url("fonts/Saddlebag-Black.woff") format("woff"),
    url("fonts/Saddlebag-Black.svg#Saddlebag-Black") format("svg"),
    url("fonts/Saddlebag-Black.eot"),
    url("fonts/Saddlebag-Black.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

:root {
  --color-active: oklch(0.62 0.22 21.44);
  --color-neutral: oklch(0.2 0.04 224.11);
  --color-neutral-inverted: oklch(1 0 0);
  --color-background-transparent: oklch(0 0 0 / 0.25);
  --diameter: 350px;
  --menu-size: 3rem;
  --radius: calc((var(--diameter) - var(--menu-size)) / 2);
  --perspective-depth: 100px;
  --translation-z-axis: 55px;
}


html,
body,
#app {
  width: 100%;
  height: 100%;
}

html {
  background-image: url("./assets/bckg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

body {
  font-family: "Saddlebag-Black";
  margin: 0;
}

video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: fill;
  z-index: -1;
}

.overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  background: var(--color-background-transparent);
}

#app {
  display: flex;
}

